
Shared Texts files/eurofiber/Screenshot 2024-10-18 095228.png
Shared Texts files/eurofiber/customerdata.csv.txt
Shared Texts files/coding stuff/createTicketSample.json
Shared Texts files/eurofiber/customerdata.csv
